
<div class="auto-container">
    <div class="row-m-ftr dy-flex">
        <div class="col-m-ftr">
            <div class="ftr-logo">
                <a href="https://cloud-fundis.co.za/"><img src="/assets/images/Isolation_Mode.png" alt=""></a>
            </div>
            <div class="aws-select">
                <p>AWS Select Tier partner and provider of cloud-based analytics, big data, machine
                    learning, and DevOps solutions. </p>
            </div>
            <div class="right-text">
                <p> © {{ now.Year }} <a href="https://cloud-fundis.co.za/">Cloud Fundis.</a> All Rights Reserved.</p>
            </div>
        </div>
        <div class="col-m-ftr">
            <div class="follow-us">
                <p>Follow us</p>
                <ul>
                    <li>
                        <a href="https://www.linkedin.com/company/cloud-fundis/?originalSubdomain=za"><img src="/assets/images/insta.svg" alt=""></a>
                    </li>
                </ul>
            </div>
            <div class="created-by">
                <a href="https://shapeshift.co.za/" target="_blank"><img src="/assets/images/shape.png" alt="" width="170px"></a>
            </div>
        </div>
    </div>
</div>