
<div class="auto-container">
    <div class="row-m-ftr dy-flex">
        <div class="col-m-ftr">
            <div class="ftr-logo">
                <a href="#"><img src="/assets/images/Isolation_Mode.png" alt=""></a>
            </div>
            <div class="aws-select">
                <p>AWS Select Tier partner and provider of cloud-based analytics, big data, machine
                    learning, and DevOps solutions. </p>
            </div>
            <div class="right-text">
                <p> © 2024 <a href="#">Cloud Fundis.</a> All Rights Reserved.</p>
            </div>
        </div>
        <div class="col-m-ftr">
            <div class="follow-us">
                <p>Follow us</p>
                <ul>
                    <li>
                        <a href="#"><img src="/assets/images/ic_baseline-facebook.svg" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="/assets/images/insta.svg" alt=""></a>
                    </li>
                </ul>
            </div>
            <div class="created-by">
                <img src="/assets/images/shape.png" alt="" width="170px">
            </div>
        </div>
    </div>
</div>