
<div class="auto-container">
    <div class="row v-center">
        <div class="header-item item-left">
            <div class="logo">
                {{ $header_logo := "" }}
                {{ if not .Params.header_logo }}
                  {{ $header_logo = "/assets/images/header-logo.svg" }}
                {{ else }}
                  {{ $header_logo = .Params.header_logo }}
                {{ end }}
                <a href="/"><img src="{{- $header_logo -}}" alt=""></a>
            </div>
            <div class="sticky-header-logo">
                <a href="/"><img src="/assets/images/-sticky-Isolation_Mode.png" alt="" width="110px"></a>
            </div>
        </div>
        <!-- menu start here -->
        <div class="header-item item-center">
            <div class="menu-overlay">
            </div>
            {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
        </div>
        <!-- menu end here -->
        <div class="header-item item-right">

            <!-- mobile menu trigger -->
            <div class="mobile-menu-trigger">
                <span></span>
            </div>
        </div>
    </div>
</div>
