{{- $page := .page }}

{{ $currentPageSection := $page.Params.section }}
<nav class="menu">
  <div class="mobile-menu-head">
      <div class="go-back"><i class="fa fa-angle-left"></i></div>
      <div class="current-menu-title"></div>
      <div class="mobile-menu-close">&times;</div>
  </div>
  {{- with site.Menus.main -}}
  <ul class="menu-main">
      {{- range . }}
      <li class="{{ if eq $currentPageSection .Identifier }}active{{end}}">
          <a href="{{- .URL -}}">{{- .Name -}}</a>
      </li>
      {{- end -}}
  </ul>
  {{- end -}}

</nav>