<section class="know-funds-sec mt-h">
    <div class="auto-container">
        <div class="row-know dy-flex">
            <div class="col-know">
                <div class="inner-know">
                    <h3>{{- .headline -}}</h3>
                    {{- with .did_know -}}
                    <div class="did-know">
                        <h6>{{- .heading -}}</h6>
                        <p>{{- .text -}}</p>
                    </div>
                    {{- end -}}
                </div>
            </div>
            <div class="col-know">
                <div class="row-ha dy-flex">
                    {{- range .team -}}
                    <div class="col-hamish">
                        <div class="inner">
                            <img src="{{- .photo -}}" alt="">
                            <div class="content">
                                <a href="#">
                                    <h4>{{- .name -}}</h4>
                                </a>
                                <h6>{{- .position -}}</h6>
                                <p>{{- .text -}}</p>
                            </div>
                        </div>
                    </div>
                    {{- end -}}
                </div>
            </div>
        </div>
    </div>
</section>