<section class="service-page-sec analys mt-h">
    <div class="auto-container">
        {{- with .headline -}}
            {{- if eq .style "h3" -}}
                <h3>{{- .text -}}</h3>
            {{- else if eq .style "h2" -}}
                <h2>{{- .text -}}</h2>
            {{- end -}}
        {{- end -}}
        <div class="row-page-service dy-flex">
            {{ range .services }}
            <div class="service-box">
                <div class="inner">
                    <img src="{{- .thumbnail -}}" alt="">
                    <h5>{{- .title -}}</h5>
                    <p>{{- .text -}}</p>
                    {{- with .link -}}
                    <div class="service-btn">
                        <a href="{{- . -}}"><img src="assets/images/arrow-up-right.png" alt="">Read more</a>
                    </div>
                    {{- end -}}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>