<section class="service-page-sec work-page-s mt-h">
    <div class="auto-container">
        <h3>{{- .headline -}}</h3>
        <h4>{{- .subheadline -}}</h4>
        <div class="row-work-box dy-flex">
            {{- range .works -}}
            <div class="col-datalake">
                <div class="inner">
                    <img src="{{- .cover -}}" alt="">
                    <div class="text-datalake">
                       <a href="{{- .link -}}"> <h5>{{- .title -}}</h5></a>
                        <h6>Streamlining data management & cutting costs by 20%</h6>
                        {{- with .quote -}}
                        <p>“{{- .text -}}”</p>
                            <div class="name-w">
                                <p>{{- .name -}}</p>
                            </div>
                        {{- end -}}
                        <div class="service-btn">
                            <a href="{{- .link -}}"><img src="assets/images/arrow-up-right.png" alt="">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            {{- end -}}
        </div>
    </div>
</section>