{{ define "main" }}
    <!-- Banner Section -->
    <section class="inner-section bg-color">
        <div class="auto-container container-banner">
            <div class="inner">
                <h1>Our blog</h1>
            </div>
        </div>
        <div class="inner-banner-img">
            <img src="/assets/images/inner-img-banner.png" alt="">
        </div>
    </section>
    <!--End Banner Section -->

    <section class="blog-pgae-sec mt-h">
        <div class="auto-container">
            <div class="o-name">
                <h3>{{- .Params.headline -}}</h3>
            </div>
            <div class="row-know-b dy-flex">
                <div class="col-know-ba">
                    <div class="menu-list">
                        <ul>
                            <li><a href="#">View all</a></li>
                            <li><a href="#">AWS (4)</a></li>
                            <li><a href="#">Bash (1)</a></li>
                            <li><a href="#">GitHub (1)</a></li>
                            <li><a href="#">Lambda (1)</a></li>
                            <li><a href="#">Linux (6)</a></li>
                            <li><a href="#">PySpark (3)</a></li>
                            <li><a href="#">Scala (1)</a></li>
                            <li><a href="#">SharePoint (1)</a></li>
                            <li><a href="#">Spark (3)</a></li>
                            <li><a href="#">STS (1)</a></li>
                            <li><a href="#">Terraform (1)</a></li>
                            <li><a href="#">Tools (6)</a></li>
                            <li><a href="#">Tuning (3)</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-know-b">
                    <div class="row-partitioning dy-flex">
                        <div class="col-partitioning">
                            <div class="inner">
                                <img src="/assets/images/partitioning.png" alt="">
                                <div class="inner-content">
                                    <a href="#"><h4>Using different partitioning methods in Spark to help with data skew</h4></a>
                                    <p>Building DataLakes can become complicated when dealing with lots of data.
                                        Even more so, when working with heavily skewed data. In this post, we'll be
                                        looking at how we can improve your long running Spark jobs caused by skewed
                                        data.</p>
                                    <div class="row-value-info">
                                        <img src="/assets/images/Ellipse.png" alt="">
                                        <div class="info">
                                            <h6>Name Surname</h6>
                                            <p>00 Month 2024</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-partitioning">
                            <div class="inner">
                                <img src="/assets/images/first-b.png" alt="">
                                <div class="inner-content">
                                    <a href="#"><h4>GitHub Actions with Amazon Web Services</h4></a>
                                    <p>Using GitHub Action to interact with Amazon Web Services</p>
                                    <div class="row-value-info">
                                        <img src="/assets/images/Ellipse.png" alt="">
                                        <div class="info">
                                            <h6>Name Surname</h6>
                                            <p>00 Month 2024</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-partitioning">
                            <div class="inner">
                                <img src="/assets/images/s-b.png" alt="">
                                <div class="inner-content">
                                    <a href="#"><h4>GitHub Actions with Amazon Web Services</h4></a>
                                    <p>Using GitHub Action to interact with Amazon Web Services</p>
                                    <div class="row-value-info">
                                        <img src="/assets/images/Ellipse.png" alt="">
                                        <div class="info">
                                            <h6>Name Surname</h6>
                                            <p>00 Month 2024</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-partitioning">
                            <div class="inner">
                                <img src="/assets/images/t-b.png" alt="">
                                <div class="inner-content">
                                    <a href="#"><h4>GitHub Actions with Amazon Web Services</h4></a>
                                    <p>Using GitHub Action to interact with Amazon Web Services</p>
                                    <div class="row-value-info">
                                        <img src="/assets/images/Ellipse.png" alt="">
                                        <div class="info">
                                            <h6>Name Surname</h6>
                                            <p>00 Month 2024</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-partitioning">
                            <div class="inner">
                                <img src="/assets/images/f-b.png" alt="">
                                <div class="inner-content">
                                <a href="#"><h4>GitHub Actions with Amazon Web Services</h4></a>
                                    <p>Using GitHub Action to interact with Amazon Web Services</p>
                                    <div class="row-value-info">
                                        <img src="/assets/images/Ellipse.png" alt="">
                                        <div class="info">
                                            <h6>Name Surname</h6>
                                            <p>00 Month 2024</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row-next-p">
                        <ul>
                            <li>
                                <a href="#"><img src="/assets/images/Arrow-right.png" alt="">Previous</a>
                            </li>
                            <li>
                                <a href="#">Previous<img src="/assets/images/Arrow-left.png" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        
        </div>
    </section>
{{ end }}