{{ define "top_body" }}
{{ .Scratch.Set "header_classes" "header header-white" }}
{{ .Scratch.Set "header_logo" "/assets/images/logo-white.png" }}
{{ end }}

{{ define "main" }}
    {{ $posts :=  .RegularPages }}
    {{ $paginator := .Paginate $posts.ByDate.Reverse 5 }}

    <!-- Banner Section -->
    <section class="inner-section bg-color">
        <div class="auto-container container-banner">
            <div class="inner">
                <h1>Our blog</h1>
            </div>
        </div>
        <div class="inner-banner-img">
            <img src="/assets/images/inner-img-banner.png" alt="">
        </div>
    </section>
    <!--End Banner Section -->

    <section class="blog-pgae-sec mt-h">
        <div class="auto-container">
            <div class="o-name">
                <h3>{{- .Params.headline -}}</h3>
            </div>
            <div class="row-know-b dy-flex">
                <div class="col-know-ba">
                    <div class="menu-list">
                        <ul>
                            <li><a href="#">View all</a></li>
                            {{ range first 20 site.Taxonomies.categories.ByCount }}
                                <li><a href="{{- .Page.RelPermalink -}}" class="font_size_{{ .Count }}">
                                    {{ .Page.Title }} ({{ .Count }})
                                </a></li>
                            {{ end }}

                        </ul>
                    </div>
                </div>
                <div class="col-know-b">
                    <div class="row-partitioning dy-flex">
                        {{- $recent_post := first 1 $paginator.Pages -}}
                        {{- with $recent_post -}}
                        {{- range . -}}
                        <div class="col-partitioning" style="{{- if eq (len $paginator.Pages) 1}}border: none;{{- end -}}">
                            <div class="inner">
                                {{- with .Params.thumbnail -}}
                                <img src="{{- . -}}" alt="">
                                {{- end -}}
                                <div class="inner-content">
                                    <a href="{{- .Permalink -}}"><h4>{{- .Title -}}</h4></a>
                                    <p>{{- .Params.description -}}</p>
                                    <div class="row-value-info">
                                        <img src="/assets/images/Ellipse.png" alt="">
                                        <div class="info">
                                            {{- with .Params.authors -}}
                                            {{- range . -}}
                                            <h6>{{- . -}}</h6>
                                            {{- end -}}
                                            {{- end -}}
                                            {{- with .Params.Date -}}
                                            <p>{{ time.Format "02 Jan 2006" . }}</p>
                                            {{- end -}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{- end -}}
                        {{- end -}}
                        {{- $next_posts := first 4 (after 1 $paginator.Pages) -}}
                        {{- with $next_posts -}}
                        {{- range . -}}
                        <div class="col-partitioning">
                            <div class="inner">
                                {{- with .Params.thumbnail -}}
                                <img src="{{- . -}}" alt="">
                                {{- end -}}
                                <div class="inner-content">
                                    <a href="{{- .Permalink -}}"><h4>{{- .Title -}}</h4></a>
                                    <p>{{- .Params.description -}}</p>
                                    <div class="row-value-info">
                                        <img src="/assets/images/Ellipse.png" alt="">
                                        <div class="info">
                                            {{- with .Params.authors -}}
                                            {{- range . -}}
                                            <h6>{{- . -}}</h6>
                                            {{- end -}}
                                            {{- end -}}
                                            {{- with .Params.Date -}}
                                            <p>{{ time.Format "02 Jan 2006" . }}</p>
                                            {{- end -}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{- end -}}
                        {{- end -}}
                    </div>
                    <div class="row-next-p">
                        <ul>
                            {{ if $paginator.HasPrev }}
                            <li class="pagination__item pagination__item--previous">
                                <a href="{{ $paginator.Prev.URL }}" class="pagination__link pagination__link--previous">
                                    <img src="/assets/images/Arrow-right.png" alt="">Previous
                                </a>
                            </li>
                            {{ else }}
                            <li class="pagination-empty"></li>
                            {{ end }}
                            {{ if $paginator.HasNext }}
                            <li class="pagination__item pagination__item--next">
                                <a href="{{ $paginator.Next.URL }}" class="pagination__link pagination__link--next">
                                    Next<img src="/assets/images/Arrow-left.png" alt="">
                                </a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        
        </div>
    </section>
{{ end }}