<section class="consult-sec mt-h2">
    <div class="auto-container">
        <div class="row-consult dy-flex">
            <div class="co-con">
                <div class="inner-con">
                    <h3>{{- .headline -}}</h3>
                </div>
            </div>
            <div class="co-con">
                <div class="con-content">
                    {{- with .text -}}
                    <p>{{- . -}}</p>
                    {{- end -}}
                    {{- range .content -}}
                        {{- if eq .style "p" -}}
                        <p>{{- .inner -}}</p>
                        {{- else if eq .style "h5" -}}
                        <h5>{{- .inner -}}</h5>
                        {{- else if eq .style "ul" -}}
                        <ul>
                            {{- range .inner -}}
                            <li>{{- . -}}</li>
                            {{- end -}}
                        </ul>
                        {{- else if eq .style "none" -}}
                        {{- .inner -}}
                        {{- end -}}
                    {{- end -}}
                </div>
            </div>
        </div>
    </div>
</section>