<section class="fundis-sec result mt-h">
    <div class="auto-container">
        {{- with .headline -}}<h2>{{- . -}}</h2>{{- end -}}
        <div class="enhance-efficiency dy-flex">
            {{- with .text -}}
            <div class="col-service">
                <div class="inner-enhance">
                    <h3>{{- . -}}</h3>
                </div>
            </div>
            {{- end -}}
            {{- with .content -}}
            <div class="col-service">
                <div class="effi-side">
                    {{- range . -}}
                        {{- if eq .style "p" -}}
                        <p>{{- .inner -}}</p>
                        {{- else if eq .style "h5" -}}
                        <h5>{{- .inner -}}</h5>
                        {{- else if eq .style "ul" -}}
                        <ul>
                            {{- range .inner -}}
                            <li>{{- . -}}</li>
                            {{- end -}}
                        </ul>
                        {{- else if eq .style "html" -}}
                        {{- .inner | safeHTML -}}
                        {{- else if eq .style "none" -}}
                        {{- .inner -}}
                        {{- end -}}
                    {{- end -}}
                </div>
            </div>
            {{- end -}}
        </div>
    </div>
</section>