<section class="{{- .section_classes -}}">
    <div class="auto-container">
        <div class="{{- .inner_classes -}}">
            <div class="col-service">
                <div class="inner-enhance">
                    {{- with .preheadline -}}
                    <h6>{{.}}</h6>
                    {{- end -}}
                    <h2>{{- .headline -}}</h2>
                </div>
            </div>
            <div class="col-service">
                <div class="effi-side">
                    <h3>{{- .heading -}}</h3>
                    <p>{{- .text -}}</p>
                    {{- with .button -}}
                    <div class="theme-btn">
                        <a href="{{- .url -}}">{{- .text -}}</a>
                    </div>
                    {{- end -}}
                </div>
            </div>
        </div>
    </div>
</section>