<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <!--=== Page-Wrapper ===-->
  <div class="page-wrapper">
    <!--=== Main-Header ===-->
    {{ $header_classes := "" }}
    {{ if not .Params.header_classes }}
      {{ $header_classes = "header" }}
    {{ else }}
      {{ $header_classes = .Params.header_classes }}
    {{ end }}
    <header class='{{ $header_classes }}' id="sticky-header">
      {{ partial "header.html" . }}
    </header>
    <!--=== Main-Header ===-->
  {{ block "main" . }}{{ end }}
  <footer class="main-footer">
    {{ partial "footer.html" . }}
  </footer>
  <!-- jquery.js -->
  <script src="/assets/js/jquery.js"></script>

  <!-- custom-theme.js -->
  <script src="/assets/js/custom-theme.js"></script>
  {{ block "js-footer" . }}{{ end }}
</body>
</html>
